<section class="section-slider">
	<div class="section__body">
		<div class="slider-products">
			<div class="slider__clip">
				<div class="slider__slides">
					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="https://s12emagst.akamaized.net/products/13774/13773720/images/res_8391239e6f7b3568012c46c29b5960f4_full.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="https://s12emagst.akamaized.net/products/3451/3450295/images/res_29fa97c6f5f201e4a6daf5bc734fbfbf_full.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="https://s12emagst.akamaized.net/products/14502/14501182/images/res_ec0ba506c52c82becc517ac0fb5746fc_full.jpeg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="https://s12emagst.akamaized.net/products/7953/7952052/images/res_7ae370c9cbeecfb61975ef28f2b11853_full.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->
				</div><!-- /.slider__slides -->
			</div><!-- /.slider__clip -->
			
			<div class="slider__actions">
				<a href="#" class="slider__prev">
					
				</a>

				<a href="#" class="slider__next">
					
				</a>
			</div><!-- /.slider__actions -->
		</div><!-- /.slider -->
	</div><!-- /.section__body -->
</section><!-- /.section-slider -->	
