/* ------------------------------------------------------------ *\
	Slide Products
\* ------------------------------------------------------------ */

.slider-products { position: relative; padding: 0 0 30px; } 

.slider-products .slider__slide a { display: flex; align-items: center; justify-content: center; }


.slider-products .slider__actions { position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 100%; }
.slider-products .slider__actions .slider__prev { position: absolute; z-index: 10; left: 10px; display: inline-block; font-size: 0; background-color: transparent; border: solid rgba(0,0,0,.7); border-width: 0 3px 3px 0; padding: 10px; transform: rotate(135deg); transition: opacity .4s; }

.slider-products .slider__actions .slider__next { position: absolute; right: 10px; z-index: 10; display: inline-block; font-size: 0; background-color: transparent; border: solid rgba(0,0,0,.7); border-width: 0 3px 3px 0; padding: 10px; transform: rotate(-45deg); transition: opacity .4s; }

.slider-products .slider__actions .slider__next:hover,
.slider-products .slider__actions .slider__prev:hover { opacity: .5; }
