<section class="section-slider">
	<div class="section__body">
		<div class="slider-products">
			<div class="slider__clip">
				<div class="slider__slides">
					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="assets/images/acer.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="assets/images/dell.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="assets/images/samsung.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->

					<div class="slider__slide">
						<a href="#">
							<div class="slider__slide-image">
								<img src="assets/images/logitech.jpg" alt="">
							</div><!-- /.slider__slide-image -->
						</a>
					</div><!-- /.slider__slide -->
				</div><!-- /.slider__slides -->
			</div><!-- /.slider__clip -->
			
			<div class="slider__actions">
				<a href="#" class="slider__prev">
					
				</a>

				<a href="#" class="slider__next">
					
				</a>
			</div><!-- /.slider__actions -->
		</div><!-- /.slider -->
	</div><!-- /.section__body -->
</section><!-- /.section-slider -->	
