<div class="container container-form">
    <div class="card card-container">
		
    	<img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        	
        <p id="profile-name" class="profile-name-card"></p>
        
        <p *ngIf="errorMessage.length > 0" class="text-danger">
            {{errorMessage}}</p>

        <p *ngIf="error.message.length > 0" class="text-danger">
            {{error.message}}</p>


        <form class="form-signin" (ngSubmit)="onSignUp()">
            <span id="reauth-email" class="reauth-email"></span>
            
            <input type="email" id="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Username" required autofocus>
            
            <input type="password" id="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Password" required>
            
            <button class="btn" type="submit">Sign Up</button>
        </form><!-- /form -->
    </div><!-- /card-container -->
</div><!-- /container -->
