<div class="container">
  <h1>Поръчки</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Име</th>
        <th>Град</th>
        <th>Адрес</th>
        <th>Дата</th>
        <th>Продукт</th>
        <th>Цена</th>
      </tr>
    </thead> 
    <tbody>
      <tr *ngFor="let order of orders$ | async">
        <td>{{ order.shipping.name }}</td>
        <td>{{ order.shipping.city }} </td>
        <td>{{ order.shipping.addressLine1 }} </td>
        <td>{{ order.datePlaced | date}}</td>
        <td>{{ order.items[0].product.title}}</td>
        <td>{{ order.items[0].totalPrice}}лв</td>
      </tr>
    </tbody> 
</table>  
</div><!-- /.container -->