<div class="card">
  <div class="card-body">
    <h4 class="card-title">Информация за поръчката</h4>
    <p class="card-text"> Вие имате {{ cart.totalItemsCount }} продукта във вашата количка.
    </p>
    <ul class="list-group list-group-flush">
      <li *ngFor="let item of cart.items" class="list-group-item">
        {{ item.quantity }} x {{ item.title }}
        <div class="float-right">
          {{ item.totalPrice}}лв
        </div>
      </li>
      <li class="list-group-item font-weight-bold">
        Общо 
        <div class="float-right">
          {{ cart.totalPrice }}лв
        </div>
      </li>
    </ul>
  </div>
</div>